.backg{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1%;
}
.nav{
    margin-right: 90%;
    padding: 0.5rem;
    background-color: rgba(45,21,21,255);
    color: rgba(245, 245, 220, 0.76);
    border: 2px solid rgba(245, 245, 220, 0.76);
    border-radius: 0.4rem;
}
.nav:hover{
    background-color: white;
    color: rgba(45,21,21,255);
    border: 2px solid black;
}
.buttom{
    padding: 0.5rem;
    background-color: rgba(45,21,21,255);
    color: rgba(245, 245, 220, 0.76);
    border: 2px solid rgba(245, 245, 220, 0.76);
    border-radius: 0.4rem;
}
.buttom:hover{
    /* background-color: rgba(245, 245, 220, 0.76); */
    background-color: white;
    color: rgba(45,21,21,255);
    border: 2px solid black;
}
.froms{
    padding-top: 1%;
    font-size: x-large;
}
.inputs{
    border-radius: 0.3rem;
    margin-top: 2%;
}
/* .labels{
    color: black;
    font-size: large;
} */