.card {
    width: 240px;
    height: 400px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 1.5em;
   }
   
   .cardImg {
    /*background-color: #ffcaa6;*/
    height: 70%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
    object-fit: fill;
   }
   
   .cardInfo {
    padding-top: 5%;
   }
   
   svg {
    width: 25px;
    height: 25px;
   }
   
   .cardFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .textTitle {
    font-weight: 700;
    font-size: 1em;
    line-height: 1;
    margin-bottom: 4px;
   }
   
   .textBody {
    font-size: .9em;
    padding-bottom: 6px;
   }
   
   /*Button*/
   .cardButton {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .cardImg:hover {
    transform: translateY(-4.8%);
    box-shadow: rgba(127, 0, 0, 0.161) 0px 13px 47px -4px, rgba(119, 0, 0, 0.160) 0px 8px 16px -5px;/*rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;*/
   }
   
   .cardButton:hover {
    /*border: 1px solid #ffcaa6;
    background-color: #ffcaa6;*/
    border: 1px solid #7f0000;
    background-color: #7f0000;
    color: #ffffff;
   }

   .cardInfo:hover{
       cursor: pointer;
   }
