*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Yantramanav', sans-serif,'Satisfy', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}  


