@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Questrial&display=swap');

.containerAllPerfil{
    display: flex;
    justify-content: center;
}

.ContainerPerfil{
    padding-top: 20px;
    align-items: center;
    width: fit-content;
    justify-content: right;
    border-radius: 0.75rem;;
    background-color:  #F2F3EB;
    margin-bottom: 30px;
}
.imgdiv{
    display: flex;
    width: fit-content;
    justify-content: left;
    margin-left: 20px;
    justify-content: center;
}
.img{
    margin-left: 20px;
}
.imgurl{
    background-color: white;
    border-radius: 5px;
    margin-top: 90px;
    height: fit-content;
    margin-right: 5px;
}
.namediv{
    display: flex;
    border: 30px;
    border-color: black;
    justify-content: center;
    margin: 10px 0px 0px;
    font-size: 15px;
}
.name{
 background-color: white;
 margin-right: 5px;
 border-radius: 5px;
}

.emaildiv{
    display: flex;
    justify-content: center;
    margin: 10px 0px 20px;
    font-size: 15px;
}

.btn{
    display: flex;
    justify-content: center;
    color: #6c0000;
}