
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.container{
  height: 90vh;
  width: 100vw;
}

.profileTitle{
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 5px;
  color:#5A5A5A;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.cardContainer{
   display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   
    /* padding: 5px; */
}

.card {
  --border-radius: 0.75rem;
  --primary-color: #6c0000;
  --secondary-color: #3c3852;
  width: 210px;
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
 background: #F2F3EB;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
}


.card > * + * {
  margin-top: 1.1em;
}

.card .card__content {
  color: var(--secondary-color);
  font-size: 0.86rem;
}

.card .card__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}


.card .card__date {
  color: #6e6b80;
  font-size: 0.8rem;
}

.card .card__arrow {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card svg {
  transition: 0.2s;
}

/* hover */
.card:hover .card__title {
  color: var(--primary-color);
  text-decoration: underline;
}

.card:hover .card__arrow {
  background: #111;
}

.card:hover .card__arrow svg {
  transform: translateX(3px);
}


/* @media screen and (max-width: 850px){
.cardContainer{
   padding: 10px;

 
}
} */