.backg{
Display: flex;
justify-content: center;
flex-direction: column;
flex-wrap: wrap;
margin: 2em 0 0 0;
padding: 0;

}
.table{
    border: 1px solid #eaeaea;
    text-align: center;
    width: 50%;
    border-collapse:collapse;
    margin: 0 auto 0em auto;
}

.table .tableHead{
    font-size: 15px;
    background-color: #f5f5f5;
}
.table .tableBody tr td{
    padding: 12em 0 0 0;
    border-bottom: 1px solid #eaeaea;
    font-weight: 300;
    width: fit-content;
    padding: .5em;
}
@media(max-width:412px){
    .container{
       width: 80%; 
    }
    .subtotal{
        display: none;
    }

    .table .tableHead th{
        padding: 0.3em .7em;
        font-size: 15px;
    }

    .table .tableBody tr td{
        font-size: 14px;
    }
    .table .tableBody td{
        
       padding: 0.2em 0em; 
       
    }
}