.containerAll{
    display: flex;
    border-radius: 0.75rem;
    width: auto;
    margin-top: 30px;
    
}
.contain{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F2F3EB;
    width: 100%;
}
.image{
    display: flex;
    justify-content: center;
    background-color: #F2F3EB;
    height: 230px;
    width: 230px;
    border: solid;
    border-color: black;
    margin-top: 10px;
}

.divimg{
    display: flex;
    justify-content: center;
}

.title{
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
}

.punt{
margin-top: 10px;
}

.textarea{
    font-size: 30px;
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
}
.label{
    margin-top: 100px;
    font-size: 20px;
}
@media (max-width:412px){
    .textarea{
        width: 100%;
    }
}