.title{
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: bold;
  color:#54006c;
  text-align: center;
  
}




/* USER DIRECTION CARD */

.cardsContainer{
  height: 60vh;
  width: 50vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


.card {
 width: 300px;
 height: 150px;
 box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
 background: #fff;
 display: flex;
 border-radius: 20px;
 justify-content: center;
 position: relative;
 transition: all .4s;
}

.card::before {
 content: 'Editar Direccion';
 letter-spacing: 0.2em;
 position: absolute;
 bottom: 8px;
 left: 20px;
 color: rgb(51, 51, 51);
 font-size: 0.8em;
 font-weight: 700;
}

.card div {
 text-align:center;
 width: 100%;
 height: 100%;
 border-radius: 20px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
 cursor: pointer;
 z-index: 10;
 transition: all .4s;
 background-color: rgb(213, 205, 205);
}

.card:hover div {
 transform: translateY(-30px);
}