@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


.container{
  width: 31%;
  margin: auto;
  padding: 4.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dirTitle{
   margin-top: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 5px;
  color:#5A5A5A;
  text-align: auto;
  text-transform: uppercase;
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}




/* USER ADDRESS CARD */

.card {
 width: 300px;
 height: 200px;
 border-radius: 20px;
 background: #F2F3EB;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
 text-align: center;
}

.cardDetails {
 color: black;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.cardButton {
 transform: translate(-50%, 125%);
 width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: #740000;
 color: #fff;
 font-size: 1rem;
 padding: .5rem 1rem;
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
 cursor: pointer;
}

.textBody {
 color: rgb(134, 134, 134);
}

/*Text*/
/*.textTitle {
  font-family: 'Montserrat',sans-serif;
 font-size: 1.4em;
 font-weight: 500;
}*/

/*Hover*/
.card:hover {
 border-color: #740000;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .cardButton {
 transform: translate(-50%, 50%);
 opacity: 1;
}