.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 5em 3em;
    padding: 4em 0;
    
}

.img{
    margin-right: 3em;
    /*border: 1px solid red;*/
}

.img img{
    height: 28em;
}

.datail{
    width: 30%;
    /*border: 1px solid red:*/
}

h3{
    font-size: 1.5em;
    margin-left: .7em;
}


.p{
    margin: 1em;
    font-size: 1em;
    font-weight: 500;
}
.price p{
    margin: 0;
}

.border{
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 1em;
    margin: 1em;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.price p{
    font-size: 2em;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.btn Button{
    background-color: #7f0000;
    width: 100%;
}

.btn Button:hover{
    background-color: #7f0000e0;
    
}

.price Button:hover{
    background-color: transparent;
    color: #ff0000;
}


/*LOADER*/
.svg {
    width:150px;
    height:150px;
    position: fixed;
    top: 50%;
    left: 52%;
    margin-top: -100px;
    margin-left: -100px;
    animation: rotate4 2s linear infinite;
   }
   
   .circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }

@media(max-width:1550px){
    .container{
        margin: 5em auto;
    }
    .datail{
        width: 40%;
    }
    .img{
        margin-right: 1em;
    }
}
@media(max-width:800px){
    .container{
        margin: 1em auto;
    }
    .datail{
        margin-top: 1em;
        width: 80%;
    }
    .img{
        margin-right: 0;
    }
}

