.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 5em;
    
}

.img{
    margin-right: 1em;
    border: 1px solid red
}

.img img{
    height: 28em;
}

.datail{
    width: 30%;
    border: 1px solid red
}

h3{
    margin-left: 1em;
}

.p{
    margin: 1em;
}
.price p{
    margin: 0;
}

.border{
    border-bottom: 1px solid red;
    padding-bottom: 1em;
    margin: 1em;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}



.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}