.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    flex-direction: column;
    margin: 6.89em 0 6.6em 0;
}

.container h3{
    margin: 0;
    font-weight: 400;
    letter-spacing: .1em;
}