
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);


/* #4d0101 */
/* #c79557 */
.img{
  height: 12rem;
  width: auto;
  /* text-align: center; */
	/* line-height: 42px; */
	margin: 5px 5px;
	vertical-align: middle;
}

.footerDistributed{
	background: #4d0101;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 30px;
}

.footerDistributed .footerLeft,
.footerDistributed .footerCenter,
.footerDistributed .footerRight{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footerDistributed .footerLeft{
	width: 40%;
}

/* The company logo */

.footerDistributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footerDistributed h3 span{
	color:  #c79557;
}

/* Footer links */

.footerDistributed .footerLinks{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}


.footerDistributed .footerLinks h4{
	display:inline-block;
	line-height: 1.8;
  	font-weight:400;
	text-decoration: none;
	color:   #ffffff;
}
.footerDistributed .footerLinks h4:hover{
	color:  #c79557;
}

.footerDistributed .footerCompanyName{
	color:  rgb(116, 112, 112);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footerDistributed .footerCenter{
	width: 35%;
}

.footerDistributed .footerCenter i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.mail{
  line-height: 20px;
	color:  #c79557;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
  text-decoration: none;
}
/* .footerDistributed .footerCenter .envelope{
	font-size: 17px;
	line-height: 38px;
  text-decoration: none;
} */

.footerDistributed .footerCenter p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footerDistributed .footerCenter p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footerDistributed .footerCenter a{
	color:  #c79557;
	text-decoration: none;
}

.footerDistributed .footerLinks h4:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
  text-decoration: none;
}

.footerDistributed .footerLinks .linkOne:before {
  content: none;
}

/* Footer Right */

.footerDistributed .footerRight{
	width: 20%;
}

.footerDistributed .footerCompanyAbout{
	line-height: 20px;
	color:  #c79557;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footerDistributed .footerCompanyAbout .arrow{
  text-align: center;
  font-size: 20px;
	/* line-height: 20px;
	color:  #c79557;
	font-size: 13px;
	font-weight: normal;
	margin: 0; */
}

.footerDistributed .footerCompanyAbout span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footerDistributed .footerIcons{
	margin-top: 25px;
}

.footerDistributed .footerIcons{
	display: inline-block;
	/* width: 35px; */
	/* height: 35px; */
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	/* line-height: 35px; */

	margin-right: 3px;
	/* margin-bottom: 5px; */
}

/* MEDIA QUERIES */

@media (max-width: 880px) {

	.footerDistributed{
		font: bold 14px sans-serif;
	}

	.footerDistributed .footerLeft,
	.footerDistributed .footerCenter,
	.footerDistributed .footerRight{
		display: block;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}

	.footerDistributed .footerCenter i{
		margin-left: 0;
	}

}


/* BUTTON */

.button {
  display: flex;
}

.box {
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  transition: all .8s;
  cursor: pointer;
  position: relative;
  background: #4d0101;
  overflow: hidden;
}

.box:before {
  content: "W";
  position: absolute;
  top: 0;
  background: #242424;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform .4s;
  color: #c79557;
}

.box:nth-child(2)::before {
  transform: translateY(-100%);
  content: 'O';
}

.box:nth-child(3)::before {
  content: 'R';
}

.box:nth-child(4)::before {
  transform: translateY(-100%);
  content: 'L';
}

.box:nth-child(5)::before {
  content: 'D';
}

.button:hover .box:before {
  transform: translateY(0);
}