.title{
    display: flex;
    justify-content: center;
}
.buttom{
    padding: 0.5rem;
    background-color: rgba(45,21,21,255);
    color: rgba(245, 245, 220, 0.76);
    border: 2px solid rgba(245, 245, 220, 0.76);
    border-radius: 0.4rem;
}
.buttom:hover{
    /* background-color: rgba(245, 245, 220, 0.76); */
    background-color: white;
    color: rgba(45,21,21,255);
    border: 2px solid black;
}
.cardImg{
    height: 10rem;
    width: auto;
    border-radius: .5rem;
}
.textt{
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media(max-width:390px){
    .cardImg{
        height: 5rem;
        width: auto;
    }
}