.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em;
    padding: 5em 0;
}

.card {
    height: 335px;/*254px;*/
    width: 236px;/*190px;*/
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: .8em;
    box-shadow: 0 0 20px 8px #d0d0d0;
    overflow: hidden;
    margin: 2em;
    cursor: pointer;
}
   
    /*Image*/

.cardImageTinto {
    height: 100%;
    width: 100%;
    border-radius: .8em;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: url("../../images/tinto.jpg"); 
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: fill;
}

.cardImageBlanco {
    height: 100%;
    width: 100%;
    border-radius: .8em;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    /*background: #0a3394;
    background: linear-gradient(to top, #0a3394, #4286f4);*/
    background: url("../../images/blanco.jpg"); 
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size:fill;

}

.cardImageRosado {
    height: 100%;
    width: 100%;
    border-radius: .8em;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: url("../../images/rosado.jpg"); 
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: fill;
}

.cardImageEspumoso {
    height: 100%;
    width: 100%;
    border-radius: .8em;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: url("../../images/espumoso.jpg"); 
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: fill;
}
   
   /*Description */
.cardDescription {
    display: flex;
    position: absolute;
    justify-content: center;
    gap: 1em;
    flex-direction: column;
    background-color: #f5f5f5;
    height: 10%;
    width: 86.6%;
    bottom: 0;
    border-radius: .8em .8em 0 0;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
}
   
   /*Text*/
.textTitle {
    font-size: 1.2em;
    font-weight: 400;
}
   
.textBody {
    font-size: 1em;
    margin: 0;
    color: #f5f5f5;
}
    
   /* Hover states */ 
.card:hover{
    opacity: .9;
}

.card:hover .cardDescription {
    transform: translateY(100%);
    
}

.cardImage {
    height: 100%;
    width: 100%;
    border-radius: .8em;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: #0a3394;
    background: linear-gradient(to top, #0a3394, #4286f4);
}

.cardDescriptionAll {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 88%;
    padding: 0 1rem;
    margin: 0;
    text-align: center;
}

.textTitleAll {
    font-size: 1.2em;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
    width: 30px;
    border-radius: 1em;
    text-align: center;
}

.cardDescriptionAll:hover .textTitleAll:hover{
    width: 30px;
    font-weight: 700;
    border-radius: 1em;
    background-color: #ffffff;
    color: rgb(41, 41, 41);
    opacity: .8;
    
}

.textTitleAll{
    transition: background-color 0.2s linear 0.1s;
}
   