.hache1{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}
.buttom{
    margin-top: 5%;
    padding: 0.75rem;
    background-color: rgba(45,21,21,255);
    color: rgba(245, 245, 220, 0.76);
    border: 2px solid rgba(245, 245, 220, 0.76);
    border-radius: 0.4rem;
    font-size: large;
    margin-left: 1%;
    margin-right: 1%;
}
.buttom:hover{
    background-color: white;
    color: rgba(45,21,21,255);
    border: 2px solid black;
    cursor: pointer;
}
.CompraCancelada{
    display: flex;
    flex-direction: column;
    border: 5px solid rgba(45,21,21,255);
    background-color: whitesmoke;
    margin-left: 30vh;
    margin-right: 30vh;
}
.subtitle{
    padding-bottom: 2%;
}
.border{
    border: 10px solid red;
}
.CompraAprobada{
    display: flex;
    flex-direction: column;
    border: 5px solid rgba(45,21,21,255);
    background-color: whitesmoke;
    margin-left: 30vh;
    margin-right: 30vh;
}
.CompraPendiente{
    display: flex;
    flex-direction: column;
    border: 5px solid rgba(45,21,21,255);
    background-color: whitesmoke;
    margin-left: 30vh;
    margin-right: 30vh;
}
@media(max-width:390px){
    .CompraCancelada{
        margin-left: 2vh;
        margin-right: 2vh;
    }
    .CompraAprobada{
        margin-left: 2vh;
        margin-right: 2vh;
    }
    .CompraPendiente{
        margin-left: 2vh;
        margin-right: 2vh;
    }
}
@media(max-width:700px){
    .CompraCancelada{
        margin-left: 5vh;
        margin-right: 5vh;
    }
    .CompraAprobada{
        margin-left: 5vh;
        margin-right: 5vh;
    }
    .CompraPendiente{
        margin-left: 5vh;
        margin-right: 5vh;
    }
}
@media(max-width:800px){
    .CompraCancelada{
        margin-left: 8vh;
        margin-right: 8vh;
    }
    .CompraAprobada{
        margin-left: 8vh;
        margin-right: 8vh;
    }
    .CompraPendiente{
        margin-left: 8vh;
        margin-right: 8vh;
    }
}
@media(max-width:900px){
    .CompraCancelada{
        margin-left: 11vh;
        margin-right: 11vh;
    }
    .CompraAprobada{
        margin-left: 11vh;
        margin-right: 11vh;
    }
    .CompraPendiente{
        margin-left: 11vh;
        margin-right: 11vh;
    }
}