.hache1{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}
.buttom{
    margin-top: 5%;
    padding: 0.75rem;
    background-color: rgba(45,21,21,255);
    color: rgba(245, 245, 220, 0.76);
    border: 2px solid rgba(245, 245, 220, 0.76);
    border-radius: 0.4rem;
    font-size: large;
}
.buttom:hover{
    background-color: white;
    color: rgba(45,21,21,255);
    border: 2px solid black;
}