.mainContainer{
 
width: 100%;
max-width: 1300px;
margin: 20px auto;

display: grid;
grid-gap: 20px;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(3,auto);
}

.mainContainer .banner{
  text-align: center;
  /* background: cadetblue; */
  grid-column-start: 1;
  grid-column-end: -1;
}


.mainContainer .containerCards{

    grid-column: span 3;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.mainContainer .sidebarFilters{
  grid-column: 1 / 2;
  min-height: 100px;
}

.banner{
  grid-column: span 2;
  background-image: url('../../images/0_0-BANNERS_DDP_JUN19-01_LANDING.jpg');
  background-size: contain;
  background-repeat: repeat;
  height: 140px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.406);
  cursor: pointer;
}


.card {
 height: 500px;
 width: auto;
 background: rgb(236, 236, 236);
 box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.card div{
margin: 35px 20px;
display: flex;
justify-content: center;

}

.mainContainer .pagination{
 
  padding: 10px;
  border-radius: 4px;
  grid-column: span 4;
}


/*LOADER*/
.svg {
  width:150px;
  height:150px;
  position: fixed;
  top: 50%;
  left: 52%;
  margin-top: -100px;
  margin-left: -100px;
  animation: rotate4 2s linear infinite;
 }
 
 .circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
 }

 @keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }
 



/* MEDIA-RESPONSIVE */


@media screen and (max-width: 768px){
 .mainContainer .containerCards{
  grid-column: 1 / -1;
 }
 /* .mainContainer .banner{
  
} */

.mainContainer .sidebarFilters{
 grid-column: 1 / -1;
 align-items: center;
}

.card{
 text-align: center;
 justify-content:center;
 display: flex;
 margin: 10px 10px;
 height: 400px;
 flex-direction: column;

}
.card div{
 margin: 10px 10px;
text-align: center;
 justify-content:center;
 display: flex;
 flex-wrap: nowrap;
 flex-direction: column;
}
}





